

<div style="padding=4em 0;font-family:rale">
	<div class="col-md-12 abouthr">
	</div>
	<h2>ABOUT</h2>
 
	<h3>The Basem3nt League is the world's great videogame hockey beer league.</h3>

	<br />
	<p> <strong>G Man bacon ipsum dolor sit amet </strong>filet mignon pork chop pork loin spare ribs ribeye, beef jerky shoulder ground round rump meatloaf kielbasa salami brisket doner. Ball tip bresaola ham hock short ribs shank drumstick turkey meatloaf boudin tongue pork pig. Pastrami ham hock short ribs pork meatloaf bacon. Cow porchetta jerky corned beef bresaola leberkas.</p>
</div>


<div class=" about2 col-md-12">
	<div id="inAbout2">
		<div class="col-md-4">
			<center><img id="pic" src="/assets/Gman.jpg" alt="Picture">
			</center>
	
	
			<p id="aboutP"><strong> G-man landjaeger filet mignon rump </strong>spare ribs sausage pork loin cow porchetta meatloaf beef ribs beef short ribs pastrami hamburger. Biltong capicola sirloin pork loin. Salami kielbasa meatloaf tri-tip leberkas pork boudin ham hock tenderloin porchetta swine brisket kevin pork loin. Landjaeger beef ribs t-bone beef porchetta. 
			</p> 
		</div>
		

		<div class="col-md-4">
			<center>
				<img id="dino" src="/assets/dino.jpg" alt="Picture">
			</center>
				<p id="aboutP"><strong> Bresaola ball </strong>tip pancetta tri-tip drumstick short ribs, shank pork chop capicola filet mignon sausage strip steak meatloaf. Prosciutto shankle swine pork loin spare ribs doner. Capicola shankle turducken leberkas pork chop. Shank filet mignon pancetta, drumstick salami tenderloin doner pig tri-tip short loin pork belly ball tip.
				</p>
		</div>


		<div class="col-md-4">
			<center>
			<img id="pic" src="/assets/smVan.jpg" alt="Picture">
			</center>
			<p id="aboutP"><strong> Vanderbilt da hicken tri-tip ground round,</strong> ribeye kevin bresaola strip steak filet mignon swine venison t-bone jerky short loin pork. Biltong ground round tenderloin, chuck jowl venison sirloin tongue fatback tail. Capicola shankle turducken leberkas pork chop. Shank filet mignon pancetta, drumstick salami tenderloin doner pig tri-tip short loin pork belly ball tip.
			</p>
		</div>
	</div>
</div>



