	
	<div class="container col-md-4">
	<%= bootstrap_form_for(@topic) do |f| %>
		<%= flash[:alert] %> 
	  <div><br>
	    <%= f.text_field :name, hide_label: true, :placeholder => "Make a bottle of wine..." %>
	  </div><br>
	 
	  <div><br>
	    <%= f.submit "Bottle it", :class => "btn btn-info " %>
	  </div>
	<% end %>
	</div>