
    <header id="basement" class="band" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">       
                
        <div class="container">
            <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0" data-500="background-position:0px -250px;">          
            </div>
        </div>
        
        <div class="welTitle"> 
            <p>The </p>
            <p>League</p>
        </div>

    </header>
   
    <div class="welSect2">
        <div class="container col-md-12 sect2inner">
            <center><p class="welP1 col-md-12">&#69; 01 &#45; 02</p></center> 
            <p class="col-md-5 welP2"><strong>Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. </strong></p>  
            <p class="col-md-5 welP4"><strong>numbers of dreamers <span class="dreamers">0237</span> </strong></p>  
            <p class="col-md-5 welP3"><strong>numbers of dreams crushed <span class="dreams">034</span> </strong></p>  
   
        </div> 
    </div>    

    <div class="welSect3"> 
         <div class="container col-md-12 sect3inner">
            <p class="wel3P1"><strong>How to crush dreams</strong></p>
             
            <p class="wel3P2"><span class="join">001</span> <strong>Join the League</strong></p>  
            <p class=" wel3P3"><span class="start">002</span><strong> start crushing  </strong></p>  
            <p class="col-md-5 wel3P4"><strong>Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. </strong></p> 

            <p class="col-md-5 wel3P5"><span class="repeat">003</span><strong> repeat  </strong></p>  
        </div>
    </div>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/skrollr.min.js"></script>
    <script type="text/javascript">
             skrollr.init();
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>