
  <header id="basement" class="band" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">       
            
                <h1>Basem3nt League</h1>
            <div class="container">
                <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0" data-500="background-position:0px -250px;">          
                </div>
                <!--/ columns-->          
            </div>
            <!--/ container-->       
        </header>
        <!--/ band-->
    
        <div class="band main">
            <div class="container">             
                <div class="columns twelve offset-by-two">      
                <h1>Basem3nt League</h1>
                <p><strong>Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. </strong></p>      
                </div>
                <!--/ column-->
            </div>
            <!--/ container-->
        </div>



    <div class="container welcome">
      <div class="starter-template">
      	<h1>Welcome to the Basem3nt League</h1>
				<p class="lead">This project is still in progress!</p>
<p>Bacon ipsum dolor sit amet leberkas biltong corned beef, ribeye bresaola shankle pancetta. Jerky ham hock pancetta, doner ground round venison swine. Hamburger bacon turducken, frankfurter sirloin sausage brisket cow kielbasa. Corned beef meatloaf leberkas tri-tip chuck, beef ribs sirloin.</p>

<p>Prosciutto salami brisket, meatball tri-tip pig sirloin andouille meatloaf spare ribs t-bone. Swine pig jowl doner, pork turkey jerky tail leberkas. Short ribs ball tip meatloaf pork, turkey tri-tip shoulder shankle frankfurter beef biltong ground round meatball. Fatback drumstick turkey, pastrami kevin meatball flank porchetta swine pork loin tri-tip leberkas bacon. Pancetta brisket flank, ball tip ribeye hamburger tri-tip jerky drumstick kielbasa shoulder capicola biltong.</p>

<p>Short ribs venison chuck landjaeger. Boudin strip steak tail, andouille flank pancetta beef ribs t-bone pastrami. Flank ground round chuck kielbasa corned beef filet mignon rump. Capicola doner kevin pork chop. Tri-tip leberkas fatback turducken boudin. Ball tip swine landjaeger prosciutto tail spare ribs tenderloin shankle fatback jerky chuck kielbasa. Tri-tip tail short loin ball tip, boudin rump brisket turkey jerky shank short ribs beef salami beef ribs.</p>

<p>Chuck tongue salami short loin tail. Pork prosciutto doner pork belly filet mignon, strip steak pig corned beef pork chop porchetta biltong turkey meatloaf. Shankle sirloin pork chop rump, capicola pancetta salami hamburger jerky tail turkey. Porchetta corned beef meatball, leberkas brisket venison beef capicola.</p>



        
      </div>
    </div><!-- /.container -->





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="assets/skrollr.min.js"></script>
    <script type="text/javascript">
             skrollr.init();
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>