<h1><b>Games</b></h1>

<table>
  <thead class="game">
    <tr>
      <th class="th">Gamer Tag</th> &nbsp &nbsp
      <th class="th">Time</th>
    </tr>
  </thead>

  <tbody class="game">
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %>
        <td><%= link_to  game.time.strftime("%a %b %d @ %I:%M %p"), game %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn btn-success">
<%= link_to 'New Game',  new_game_path,  :class=>"white" %>
</div>
