/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require font-awesome
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


@font-face {
  font-family:'rale';    
  src: url('rale.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  
 
@font-face {
  font-family:'ralebold';    
  src: url('raleBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  
 
@font-face {
  font-family: 'jo';    
  src: url('jo.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 


@font-face {
  font-family: 'crasns';    
  src: url('crasns.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'kel';    
  src: url('kelvetica.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 







/*   index  layout   */

.sign {
  float:right;
  position:relative;
  display: -webkit-box;  
  top: .555em; 
}

.sign > p { padding: .5em; }

.logBoxes {
  position:initial;
  right:0;
/*  background-color:red;
*/  top:.8em;
  display: -webkit-box;
  float:left;
  right:5em;
  
}


.smallBox2 {
  position:absolute;
  top:9em;
  display: -webkit-box;
  float:left;
}


.alert {
	margin-top: 10px; 
}

.white {color:#fff;}


/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

 

 /*  Sign-in page    */


.signIn {
  padding:0  0 2em 0;
}
.signInBox {
  left:33.333%;
 }

.input {
  width:6em;
  height:2em;
  margin:0;
  padding:0;
  
}


@media only screen and (max-width: 770px) {
  .signIn{ margin-top:3em;} 
  .signInBox{ width:100%; left:0 !important;}

}

@media only screen and (min-width: 771px) {
  .signIn{ margin-top:6em;} 
  .signInBox{ width:66.6666%; left:16.5%; text-align:center;}

}

.form-group label {
  margin-bottom: 15px;
}

