/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */



@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'rale';    
  src: url('assets/rale.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  
 
  @font-face {
  font-family: 'Gotham';    
  src: url('fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
 

.navbar {
  opacity:.8;
}

body {
	padding-top: 6em;
	padding-bottom:4em;
 	margin:0 !important;
 	padding-left:0;
 	width:100%;
}


@font-face {
  font-family: 'jo';    
  src: url('fonts/jo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 



/*   index  layout   */

.sign {
  float:left;
  position:relative;
  display: -webkit-box;
  
}

.logBoxes {
  position:initial;
  right:0;
/*  background-color:red;
*/  top:.8em;
  display: -webkit-box;
  float:left;
  right:5em;
  
}


.smallBox2 {
  position:absolute;
  top:9em;
  display: -webkit-box;
  float:left;
}






.alert {
	margin-top: 10px; 
}

.white {color:#fff;}


/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

 


 /*  Sign-in page    */


.signIn {
  padding:0  0 2em 0;
}
.signInBox {
  left:33.333%;
 }

.input {
  width:10em;
  margin:0;
  padding:0;
  
}

@media only screen and (max-width: 1200px) {
  .signIn{ margin-top:6em;} 
  .signInBox{ width:33.333333%;}

}



/*




.bigB{
  background:blue;
  top: 50%;
  right:50%;
  position:relative;
}

.bigB div{
  float:left;
  margin: 0;
  padding:0;
}

.bigB input {
  margin: .4em; 
  position:relative;
  width:7em;
}




*/