
.cancelBtn {
	position:relative;
	float:right; 
	display:flex; 
	bottom:1em;
}

.register {
	margin-top: 3em;
}

.facebook-sign-in {
	margin-top: 2em;
}

.sign-up-form{
	margin-bottom:2em;
}

.home-page-sign-in {
	width: 33%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	float: right;
	margin-top: 0.4em;
}


.home-page-main-container {
	float: left;
	width: 66%;
	font-size: 1.4em;
}