// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-page-info {
	float: left;
	max-width: 600px;
	padding: 3em 3em 6em 3em;
}

hr {
	width: 100%;
}


.smallBox {
	position:absolute;
	right:15em;
	top:1em;
	display: -webkit-box;
	float:right;
	max-width:9em;
	max-height:1.9em;
}


.smallBox2 {
	position:absolute;
	right:15em;
	top:9em;
	display: -webkit-box;
	float:right;
	max-width:9em;
	max-height:1.9em;
}


/*   Edit   Page     */



.form1 {
	display: inline-flex; 
}

.avatar img {
	float: right;
	max-width: 200px;
	border-radius: 50%;
}


.basicInfo {
	clear:both;
	float:right; 
	display:inline-flex;
}



