// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-page-info {
	float: left;
	max-width: 600px;
	padding: 3em 3em 6em 3em;
}

hr {
	width: 100%;
}



/*   Edit   Page     */



.form1 {
	display: inline-flex; 
}

.avatar img {
	top: 10%;
	float: right;
	clear:right;
	right: 25%;
	position:relative;
	max-width: 15em;
	border-radius: 50%;
}

.map img {
	top: 10%;
	float: right;
	clear:right;
	right: 25%;
	position:relative;
	max-width: 18em;
	border-radius: 50%;
}


.basicInfo {
	clear:both;
	float:right;
	position:relative; 
	display:inline-flex;
	right:27%;
}



