// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.tinyAv  {
	border-radius:50%;
	width:3em;
	margin: .1em 1em 0 1em;
}

.list {
	font-weight:500;
	border-bottom: solid 1px #CCC;
	font-size:2em;
}

.smlFont {
	font-size:.7em;
	margin-left:1em;
}

.hel {font-family:helvetica;}



/*    ----  about page   -----    */
.abouthr{
	border-top: 1px solid #db4d4d;
	padding: .4em 0  1em 0;
	opacity:.5;	
}

#pic {
	width:150px;
	margin:4em 2em 1em 2em;
	padding:1em 1em 4em 1em;
	
}

.about2 {
	padding: 8em 3em 7em 3em;
	display:inline-block;
	float:left;
	position:relative;
}


#inAbout2 {
	margin: 0 auto;
 	
}

#aboutP {
	font-size:1.5em;
	text-align:justify; 
	margin:.6em;

}
#dino {
	padding:0em 5em 4em 5em;
	}





