// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.tinyAv  {
	border-radius:50%;
	width:3em;
	margin: .1em 1em 0 1em;
}

.list {
	font-weight:500;
	border-bottom: solid 1px #CCC;
	font-size:2em;
}

.smlFont {
	font-size:.7em;
	margin-left:1em;
}

